@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../fonts/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101011;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'CabinetGrotesk-Variable', Arial, Helvetica, sans-serif;
}
